<h1>API</h1>
<ul>
  <li>Get Countries</li>
  <li>Get Regions</li>
  <li>Get Cities</li>
  <li>Get Affiliates By Country</li>
  <li>Get Affiliates By City</li>
  <li>Get Affiliates By Region</li>  
  <li>Get All Affiliates</li>
  <li>Get Affiliate</li>
</ul>

<h2>Get Countries</h2>
<h3>Params: None</h3>
<h4>URL: /api/get_countries</h4>
<p>Returns JSON of all available countries</p>

<h2>Get Regions</h2>
<h3>Params: None</h3>
<h4>URL: /api/get_regions</h4>
<p>Returns JSON of all available regions</p>

<h2>Get Cities</h2>
<h3>Params: None</h3>
<h4>URL: /api/get_cities</h4>
<p>Returns JSON of all available cities</p>

<h2>Get Affiliates By Country</h2>
<h3>Params: country(string)</h3>
<h4>URL: /api/get_affiliates_by_country/:country</h4>
<p>Returns JSON of all affiliates specified Country</p>

<h2>Get Affiliates By City</h2>
<h3>Params: city(string)</h3>
<h4>URL: /api/get_affiliates_by_city/:city</h4>
<p>Returns JSON of all affiliates in specified City</p>

<h2>Get Affiliates By Region</h2>
<h3>Params: id(integer)</h3>
<h4>URL: /api/get_affiliates_by_region/:id</h4>
<p>Returns JSON of all affiliates in specifed Region</p>

<h2>Get All Affiliates</h2>
<h3>Params: None</h3>
<p>Returns JSON of all affiliates</p>

<h2>Get Affiliate</h2>
<h3>Params: id(integer)</h3>
<h4>URL: /api/get_affiliate/:id</h4>
<p>Returns JSON of Affiliate </p>