<div class="btn-group pull-right" id="controls">    
  <button type="button" class="btn btn-large" title="Reset" id="refresh-btn" data-target="reset"><span class="icon-refresh"></span></button>
</div>