<div id="search-postcode" class="search">
  <form class="form-inline">
    <legend>Search by distance</legend>            
    <label>Within</label>
    <select id="postcode-distance" class="input-small">
      <option value="5">5 miles</option>
      <option value="10">10 miles</option>
      <option value="20">20 miles</option>
      <option value="50">50 miles</option>
    </select>
    <label>of</label>
    <input type="text" autocomplete="off" id="search-postcode" placeholder="AB12 3CD" class="input-small" />
  </form> 
</div>
