<div id="search-postcode" class="search">
  <form class="form-inline">
    <legend>Nearest affiliate</legend>            
    <label>Location</label>
    <input type="text" autocomplete="off" id="search-postcode-postcode" placeholder="eg. AB12 3CD, Leeds" class="input-medium" />
  </form> 
</div>
