<div id="search" class="well well-small">
  <div class="clearfix" id="search-header">
      <p class="muted pull-left" id="search-mini-desc"><small>Search for an Affiliate...</small></p>
      <button class="btn btn-mini pull-right btn-link" id="search-down" title="Show form"><span class="icon-chevron-down"></button>
      <button class="btn btn-mini pull-right btn-link" id="search-up" title="Hide form"><span class="icon-chevron-up"></button>
  </div>    
  <div class="clearfix" id="search-inner">
      <%= render "search_title" %>
      <%= render "search_region" %>
      <%= render "search_postcode" %>
    </div>
  </div>
</div>
